 .card-container1x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
     margin-left: 25rem;
 }
 
 .card-container1x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container2x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container2x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container3x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container3x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container4x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
     margin-left: 25rem;
 }
 
 .card-container4x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container5x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container5x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container6x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container6x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container7x{
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
     margin-left: 25rem;
 }
 
 .card-container7x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container8x{
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container8x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .card-container10x {
     width: 219px;
     height: 250px;
     overflow: hidden;
     box-shadow: 0px 0px 15px -5px;
     transition: 0.3s;
     animation: ease-in;
     background-color: rgb(199, 14, 14);
 }
 
 .card-container10x:hover {
     transform: scale(1.1);
     box-shadow: 0px 0px 15px 0px;
 }
 
 .image-container img {
     overflow: hidden;
     height: 160px;
     width: 219px;
 }