#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .image {
    min-width: 500px;
    min-height: 50px;
    padding-right: 30vw;
  }

  .full-image {
    cursor: "pointer"; height:"200px"; margin-left:"40px"
  }