*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}




.table{
    margin-left: 150px;
    margin-top: 100px;
    position: relative;
    align-items: center;
    

    
}
.container{
    margin-left: 220px;
    margin-top: -800px;
    align-content: flex-end;
   
 
}

