.orders{
    height: 400px;
    width:350px;
    margin-top: -10px;
    position: relative;
    
}
.details{
    margin-left: 330px;
    margin-top: -360px;
    align-items: center;
    position: relative;
    width:  600px;
    height: 700px;
    box-shadow: 0px 0px 15px -5px;
    display: block;
    position: relative;
    padding: 30px;
    margin-bottom: 50px;
    font-weight: 200;
    font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 /* From https://css.glass */
background: rgba(134, 192, 219, 0.452);
 
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
/* .details:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
} */
 
 
.imgOd{
    width:  200px;
    
    
}
.qty{
    width:110px;
}
.pay{
    width: 25px;
    align-items: center;
    margin-left: -190px;
    padding: 20px;
}