.orders{
    height: 350px;
    width:350px;
    margin-top: 40px;
    
}
.details{
    background-color: rgb(245, 191, 74);
    margin-left: 400px;
    margin-top: -250px;
    border-color:red;
    border-radius: 5px;
    align-items: center;
    position: absolute;
    width:  600px;
    height: 220px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
}
.details:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
