 

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-image: url('../images/R.jpeg');
    background: linear-gradient(to bottom, #667eea, #764ba2);
    background-position: center;
    background-attachment: fixed;
  }
  

.main-footer {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #232729 0%, #000000 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.footer-col {
    width: 25%;
    padding: 0 25px;
}

.footer-col h4 {
    font-size: 18px;
    color: rgb(176, 32, 32);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    /* color: #bbbbbb; */
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
    font-weight: 500;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ffffff;
    transition: all .05 ease;
    -webkit-transition: all .05 ease;
    -moz-transition: all .05 ease;
    -ms-transition: all .05 ease;
    -o-transition: all .05 ease;
}

#facebook:hover {
    color: #ffffff;
    background-color: #3b5998;
}

#twitter:hover {
    color: white;
    background-color: #00acee;
}

#instagram:hover {
    color: #ffffff;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#linkedin:hover {
    color: #ffffff;
    background-color: #0e76a8;
}


/*Responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
