.loginds{
    display: block;
    position: relative;
    padding: 30px;
    margin:auto;
    margin-bottom: 50px;
    width: 30%;
    
  
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.171);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
 
 

.logbtn{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(101, 213, 228, 0.7);
    cursor: pointer;
    transition: .3s ;
}
.logbtn:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    background: rgba(31, 174, 240, 0.938);
}
.link{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: rgb(45, 148, 238);
    text-decoration: none;
}
.regi{
    background: rgba(255, 255, 255, 0.171);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);

display: block;
position: relative;
padding: 30px;
margin:auto;
margin-bottom: 50px;
width: 30%;
}
.regibtn{
    
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 50%;
    color: black;
    background: rgba(103, 201, 240, 0.7);
    cursor: pointer;
    transition: .3s ;
}
.regibtn:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    background: rgba(35, 138, 223, 0.938);
}